apt-get update -y

apt-get install -y \
    python3-pip \
    chromium-browser \
    chromium-chromedriver \
    build-essential \
    cargo \
    sshpass \
    python3-setuptools \
    snmp

pip3 install --break-system-packages \
    pytest \
    selenium==4.2.0 \
    webdriver-manager \
    configobj \
    pyserial \
    requests \
    paramiko \
    pexpect \
    pytest-html \
    weasyprint \
    pytest-json-report \
    netmiko \
    prettytable \
    beautifulsoup4